body{
  padding: 0; margin: 0;
}
form {
    border-radius: 10px;
    font-family: arial;
    width: 505px;
    margin: auto;
    background-color: #DCDCDC;
}

input[type=text], input[type=password] {
    width: 375px;
    padding: 5px 5px;
    margin-bottom: 10px;
    display: inline-block;
    align-content: right;
    border-radius: 5px;

}
label{
	color:#50626C;
}
.masuk {
    background-color: #049372;
    color: white;
    border-radius: 10px;
    padding: 5px 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    align-content: right;
}

button:hover {
    opacity: 0.8;
}

.masuk{
  margin: ;
}

.imgcontainer {
    text-align: center;
    margin: 0 auto;
    width: 40%;
    height: 40%;
}
img.avatar {
    width: 50%;
}

.container {
    padding: 16px;
}

span.bpa {
    float: right;
    padding-top: 16px;

}
span{
	color:#50626C;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.bpa {
       display: block;
       float: none;
    }
}
